.app-background {
  background-color: rgb(150 95 72);
  background-image: url('../media/dark-wood.webp');
  background-size: cover;
  background-attachment: fixed;
}

.app-container {
  text-align: center;
} 

body {
  color: white;
}